<div class="w-100">

<mat-toolbar class="bg-black text-white p-3 app-toolbar">
    <a routerLink="/home" class="text-dec-none text-white">
        <div class="MYSTIC">INNOVA</div>
        <div class="MIRAGE">DTU<span class="text-red">.</span></div>
    </a>
    <span class="flex-spacer"></span>
    <div fxShow="true" fxHide.lt-md="true">
        <a mat-button routerLink="/lectures" class="nav-link ml-3">Speakers</a>
        <a mat-button routerLink="/competitions" class="nav-link ml-3"> Competitions</a>
        <a mat-button routerLink="/workshops" class="nav-link ml-3"> Workshops</a>
        <a mat-button routerLink="/sponsors" class="nav-link ml-3"> Sponsors</a>
        <a mat-button routerLink="/team" class="nav-link ml-3"> Team</a>
        <a mat-button routerLink="/recruitment" class="nav-link ml-3"> CAP</a>
        <a mat-button routerLink="/contact" class="nav-link ml-3">Contact</a>
        <!-- <a mat-button routerLink="/sign-up" class="bg-white text-black md-raised ml-3"><span class="fa fa-address-card fa-lg"></span> Sign Up</a> -->
    </div>
    <button mat-icon-button (click)="openSidebar()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
</mat-toolbar>
</div>

<div *ngIf="sidenav" class="h-100v w-100v bg-black position-fixed sidenav text-white" fxLayout="column" >
   <div class="tog-btn" >
     <button mat-icon-button (click)="closeSidenav()">
        <mat-icon class="fa-lg cross-size">clear</mat-icon>
    </button>
  </div>
  <div class="h-100v w-100v text-white" fxLayout="column" fxLayoutAlign="center center" >

  <div (click)="closeSidenav()">
        <a mat-button routerLink="/home" class="nav-link mob-link">Home</a>
    </div>

    <div (click)="closeSidenav()">
            <a mat-button routerLink="/lectures" class="nav-link mob-link p-1">Speakers</a>
    </div>
    <div (click)="closeSidenav()">
            <a mat-button routerLink="/competitions" class="nav-link mob-link p-1"> Competitions</a>
    </div>
    <div (click)="closeSidenav()">
            <a mat-button routerLink="/workshops" class="nav-link mob-link p-1"> Workshops</a>
    </div>
    <div (click)="closeSidenav()">
            <a mat-button routerLink="/sponsors" class="nav-link mob-link p-1"> Sponsors</a>
    </div>
    <div (click)="closeSidenav()">
            <a mat-button routerLink="/team" class="nav-link mob-link p-1">Team</a>
    </div>
    <div (click)="closeSidenav()">
      <a mat-button routerLink="/recruitment" class="nav-link mob-link p-1">CAP</a>
    </div>
    <div (click)="closeSidenav()">
            <a mat-button routerLink="/contact" class="nav-link mob-link p-1">Contact</a>
    </div>
    <!-- <div (click)="closeSidenav()">
            <a mat-button routerLink="/sign-up" class="bg-white text-black mob-link md-raised p-1"><span class="fa fa-address-card fa-lg"></span> Sign Up</a>
    </div> -->
  </div>
</div>
