<section class="p-3">
  <div class="heading text-color">Contact Us

  </div>

  <div class="w-100" class="info">
    <!-- <div class="sub-heading text-white mt-3">Faculty Advisor</div> -->
    <div class="para text-white">
      <div class="sub-heading text-white mt-big"><i class="fas fa-paper-plane"></i>For Sponsors</div>
      <div >
        <div class="parabox-1" >corporate@innovadtu.com
         innovadtu2021@gmail.com </div>
      </div>
    </div>
    <div class="para text-white">
      <div class="sub-heading text-white mt-big"><i class="fas fa-map-marker-alt"></i>Address</div>
      <div>
        <div class="parabox">Delhi Technological University
          Shahbad Daulatpur, Main Bawana Road
          Delhi-110042, India</div>

      </div>
    </div>



  </div>

  <div style="margin-top: 1rem " class="heading text-color">Get <span style="color: yellow"> In </span> Touch </div>
  <div>
    <p class="catchline  ">
      For all the enquiries ,please email us using the form given below

      <br> We'd love to hear from you.
    </p>
  </div>
  <div class="gettouch">
    <div class="formsvg" >
      <img style="width: 100%; padding-right: 1rem" src="assets/images/chatting.svg" alt="">

    </div>
    <div class="gform" >

<script type="text/javascript">var submitted=false;</script>
    <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;"     
onload="if(submitted) {window.location='https://innovadtu.com/#/contact/';}"></iframe>
      <form action="https://docs.google.com/forms/u/0/d/e/1FAIpQLSdLxxwQchd2GHpn9_rhrTmc7eXBif2kp05u3HXmccvJWZPkmg/formResponse" method="post" target="hidden_iframe" onsubmit="submitted=true;"> 
                         <input type="email" name="entry.1543074378"   placeholder="Email Address"  required />
                         <input type="number" name="entry.1680790265"  placeholder="Mobile Numer" required /> 
                         <input type="name" name="entry.380676407"   placeholder="Any Suggestion or Comments" required  />
                         <input type="submit" value="Submit" class="login-btn" />
                    </form>
    
    </div>
  </div>

</section>
