<section class="p-3">
  <div class="heading text-color">COLLEGE AMBASSADOR PROGRAM</div>

  <div *ngIf="status" class="w-100" >
    <div  style="padding-top:10vw" class="sub-heading">Coming soon</div>
  </div>
  <div *ngIf="!status" class="w-100" >
    <div>
      
    </div>
    <div class="gettouch">
      <div class="gform" >
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdNuSuEe1MHws2ogsQKx53WtAH9iCr1wUYgZelmXt22eRpuWw/viewform?embedded=true" width="740" height="3050" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
      </div>
    </div>
  </div>
</section>
