<section class="p-3">
  <div class="heading text-color">Recruitment </div>

  <div *ngIf="status" class="w-100" >
    <div   class="sub-heading">Coming soon</div>
  </div>
  <div *ngIf="!status" class="w-100" >
    <div>
      <p class="line">
        Fill this form if you want to be a part of Innova DTU The Technomanagement fest
        <br> We'd love to hear from you.
      </p>
    </div>
    <div class="gettouch">
      <div class="gform" >
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeev4SDfX2hViuHzaZVHEd6N1AZaWeHR6C-tmXETuQwpe-WNQ/viewform?embedded=true" width="740" height="3050" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
      </div>
    </div>
  </div>
</section>
