<section class="p-3">
    <div class="heading text-color">Workshops</div>
    <div class="w-100" fxLayout="column" fxLayoutAlign="space-around end">
        <!-- <div class="sub-heading text-white mt-3">Faculty Advisor</div> -->
        <div class="sub-heading text-white mt-big">Upcoming</div>

        <div class="sub-heading text-white mt-big">Archived</div>
        <div class="text-white mt-3 w-100" fxLayout="row wrap" fxLayoutAlign="center center">
            <div *ngFor="let workshop of workshops">
                <mat-card *ngIf="!workshop.status" class="example-card bg-darkgrey text-white m-3">
                    <img mat-card-image src="{{workshop.imgSrc}}" class="img-size" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <h1>{{workshop.name}}</h1>
                        <p>{{workshop.desc}}</p>
                    </mat-card-content>
                    <mat-card-actions fxLayoutAlign="end">
                        <button (click)="findOne(workshop.id)" class="btn-grad"
                            routerLink="/more/{{ workshop.id }}">More Info</button>

                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
</section>