.hi{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    // -webkit-text-stroke: 2px rgb(255, 255, 255);
    background:linear-gradient(to bottom, #b3ffab 0%, #12fff7 100%);;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    // filter: drop-shadow(1px 1px 2px black);
    // transform: skew(0, -15deg)  translate(-16rem, -7rem);
}

.mb-big{
    margin-bottom: 3rem;
}

.name{
    font-family: 'Montserrat';
    font-size: 1.5rem;
    margin-top: 1rem;
}

.designation{
    font-family: 'Montserrat';
    font-size: 1rem;
    margin-top: 1rem;
}

.mt-big{
    margin-top: 10vh;
}

.mx-3{
    margin-left: 3rem;
    margin-right: 3rem;
}

.photo{
    height: 250px;
    width: 300px;
    border-radius: 20px;
    object-fit: cover;
    object-position: 0px 0px;
}

.info{
    height: 250px;
    width: 300px;
    border-radius: 20px;
    background-color: #4e4e4e;
    transform: translate(30px, 70px);
}


.example-card {
    max-width: 400px;
    border-radius: 20px;
  }

  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .img-size{
    height: 200px;
    object-fit: cover;
  }

  .rounded{
      border-radius: 20px!important;
  }

  .button {
    display: inline-flex;
    height: 40px;
    width: 150px;
    border: 2px solid #BFC0C0;
    margin: 20px 20px 20px 20px;
    color: #BFC0C0;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  a {
    color: #BFC0C0;
    text-decoration: none;
    letter-spacing: 1px;
  }
  span {
    color: #BFC0C0;
    text-decoration: none;
    letter-spacing: 1px;
  }
button{
  background: none;
}

#button-3 {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#button-3 a {
  position: relative;
  transition: all .45s ease-Out;
}
#button-3 span {
  position: relative;
  transition: all .45s ease-Out;
}

#circle {
  width: 0%;
  height: 0%;
  opacity: 0;
  line-height: 40px;
  border-radius: 50%;
  background: #BFC0C0;
  position: absolute;
  transition: all .5s ease-Out;
  top: 20px;
  left: 70px;
}

#button-3:hover #circle {
  width: 200%;
  height: 500%;
  opacity: 1;
  top: -70px;
  left: -70px;
}

#button-3:hover a {
  color: #2D3142;
}
#button-3:hover span {
  color: #2D3142;
}
