<div class="wrapper">
  <div class="profile-card js-profile-card">
    <div class="profile-card__img">
      <img
        src="{{info.imgSrc}}"
        alt="profile card"
      />
    </div>
    <div class="profile-card__cnt js-profile-cnt">
      <div class="profile-card__name">Relay Race</div>

      <div class="profile-card-inf">
        <div class="profile-card-inf__item">
          <div class="profile-card-inf__title">₹ 250000</div>
          <div class="profile-card-inf__txt">Prize</div>
        </div>

        <div class="profile-card-inf__item">
          <div class="profile-card-inf__title">25 Sept</div>
          <div class="profile-card-inf__txt">2020</div>
        </div>
        <div class="profile-card__txt">{{ info.desc }}</div>
        <br />
        <div class="profile-card__txt">{{ info.more }}</div>
      </div>
    </div>
  </div>
</div>
