<section class="p-3">
    <div class="heading text-white mb-big">More-Info</div>
    <div class="idi">
       <div>
       <img  src="https://cdn.wallpapersafari.com/9/33/7fXGE6.jpg" width="500px" height="400px">
      </div>
    
     <div class= "text-white ml-big">
       <h1>Title</h1>
       <h3>Description</h3>
       <h3 id="loc">Location</h3>
       <h3>More info</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, nulla! Ratione expedita iste magni quis magnam delectus architecto dolores, quam quod unde, quas perferendis enim eum laudantium consequuntur, laborum nam? Excepturi totam perferendis reiciendis alias molestias laboriosam corrupti delectus eius? Facere ex atque alias perspiciatis placeat in nemo tenetur quisquam, voluptatem quos saepe eaque. Quibusdam tempora pariatur expedita eum porro unde est vitae doloribus ad voluptate magni voluptatibus illum aspernatur, quae vero accusamus doloremque veritatis alias? Eaque accusantium omnis fugiat impedit tempore. Ullam similique odio repellendus sapiente possimus at nesciunt officiis placeat esse fugit accusantium fugiat iusto, quis autem aperiam!
  
     </p> </div></div>
</section>

