.hi{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    // -webkit-text-stroke: 2px rgb(255, 255, 255);
    background:linear-gradient(to bottom, #b3ffab 0%, #12fff7 100%);;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    // filter: drop-shadow(1px 1px 2px black);
    // transform: skew(0, -15deg)  translate(-16rem, -7rem);
}

.mb-big{
    text-align: center;
    font-size: 40px;
}
.mb-big::after{
    content: "";
    height: 3px;
    width: 80px;
    background-color: #12fff7;
    display: inline-block;
    margin: 2px 10px;
    margin-bottom: 11px;
}
.mb-big::before{
    content: "";
    height: 3px;
    width: 80px;
    background-color: #12fff7;
    display: inline-block;
    margin: 2px 10px;
    margin-bottom: 11px;
}
.p-3 img{
    position: relative;
    left: 800px;
    top: 190px;
    border-radius: 50%;
}
.p-3 img:hover{
  transform: scale(1.1);
  transition: 1s ease-in-out all;
 
}
.ml-big{
    width: 600px;
    position: relative;
    bottom: 250px;
    left: 50px;
background-color: #26c7c7;
    border-radius: 25px;
    padding: 30px;
    line-height: 1.5;
    
  
    
}


.name{
    font-family: 'Montserrat';
    font-size: 1.5rem;
    margin-top: 1rem;
}

.desc{
    text-align: right;
}

.designation{
    font-family: 'Montserrat';
    font-size: 1rem;
    margin-top: 1rem;
}

.mt-big{
    margin-top: 10vh;
}

.mx-3{
    margin-left: 3rem;
    margin-right: 3rem;
}

.ml-big{
    margin-left: 2rem;
}

.photo{
    height: 250px;
    width: 300px;
    border-radius: 20px;
    object-fit: cover;
    object-position: 0px 0px;
    filter: drop-shadow(1px 1px 10px rgba(0,0,0,0.5));
}

.info{
    height: 330px;
    width: 350px;
    border-radius: 20px;
    padding:2rem;
    padding-bottom: 0.5rem;
    background-color: #242424;
    // transform: translate(30px, 70px);
    transform-origin: bottom right;
    transform: scale(0.9, 0.9);
    transition: 0.25s ease-in;
}

.box:hover{
    .info{
        transform: scale(1.02, 1.02);
    }
    .active-info{
        transform: scale(1.02, 1.02);
    }
}

.name{
    font-size: 2rem;
    margin-bottom: 1rem;
}

.active-info{
    height: 500px;
    width: 350px;
    border-radius: 20px;
    background-color: #242424;
    // transform: translate(30px, 70px);
    transform-origin: bottom right;
    transform: scale(0.9, 0.9);
    transition: 0.25s ease-in;
}

.data{
    height: 100%;
    width: 100%;
    border-radius: 20px;
    background-color: #383838;
    padding:2rem;
}

.border-padding{
    padding-right: 3px;
    padding-bottom:3px ;
}

.topic{
    font-size: 1.5rem;
    text-align: right;
    background:linear-gradient(to bottom, #b3ffab 0%, #12fff7 100%);;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.date,.time{
    font-size: 1rem;
    margin: 1rem;
}

@media only screen and (max-width: 400px) {
    .speaker-card{
        transform: scale(0.8);
        transform-origin: top left;
    }
}
