<div class="wrapper">
  <div class="profile-card js-profile-card">
    <div class="profile-card__img">
      <img
        src="https://scontent.fsgn2-1.fna.fbcdn.net/v/t1.15752-9/220223059_1821196514730257_3913518250494529466_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=ae9488&_nc_ohc=9JfaJJJAooMAX8TApuA&_nc_ht=scontent.fsgn2-1.fna&oh=9e80775233a37399fc9fcd9f173f04aa&oe=6171B111"
        alt="profile card"
      />
    </div>
    <div class="profile-card__cnt js-profile-cnt">
      <div class="profile-card__name">Relay Race</div>

      <div class="profile-card-inf">
        <div class="profile-card-inf__item">
          <div class="profile-card-inf__title">₹ 250000</div>
          <div class="profile-card-inf__txt">Prize</div>
        </div>

        <div class="profile-card-inf__item">
          <div class="profile-card-inf__title">25 Sept</div>
          <div class="profile-card-inf__txt">2020</div>
        </div>
        <div class="profile-card__txt">{{ info.desc }}</div>
        <br />
        <div class="profile-card__txt">{{ info.more }}</div>
      </div>
    </div>
  </div>
</div>
