.hi{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    // -webkit-text-stroke: 2px rgb(255, 255, 255);
    background:linear-gradient(to bottom, #b3ffab 0%, #12fff7 100%);;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    
    // filter: drop-shadow(1px 1px 2px black);
    // transform: skew(0, -15deg)  translate(-16rem, -7rem);
}

.mb-big{
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;
}
.mb-big::after{
    content: "";
    height: 3px;
    width: 80px;
    background-color: #12fff7;
    display: inline-block;
    margin: 2px 10px;
    margin-bottom: 11px;
}
.mb-big::before{
    content: "";
    height: 3px;
    width: 80px;
    background-color: #12fff7;
    display: inline-block;
    margin: 2px 10px;
    margin-bottom: 11px;
}
.p-3 img{
    width: 500px;
    height: 500px;
    border-radius: 50%;
    margin: 10px 40px;
    border: 5px solid white;
}
.p-3 img:hover{
  transform: scale(1.1);
  transition: 1s ease-in-out all;
 
}



.name{
    font-family: 'Montserrat';
    font-size: 1.5rem;
    margin-top: 1rem;
}

.desc{
    text-align: right;
}

.designation{
    font-family: 'Montserrat';
    font-size: 1rem;
    margin-top: 1rem;
}

.mt-big{
    margin-top: 10vh;
}

.mx-3{
    margin-left: 3rem;
    margin-right: 3rem;
}

.ml-big{
    margin-left: 2rem;
}

.photo{
    height: 250px;
    width: 300px;
    border-radius: 20px;
    object-fit: cover;
    object-position: 0px 0px;
    filter: drop-shadow(1px 1px 10px rgba(0,0,0,0.5));
}

.info{
    height: 330px;
    width: 350px;
    border-radius: 20px;
    padding:2rem;
    padding-bottom: 0.5rem;
    background-color: #242424;
    // transform: translate(30px, 70px);
    transform-origin: bottom right;
    transform: scale(0.9, 0.9);
    transition: 0.25s ease-in;
}

.box:hover{
    .info{
        transform: scale(1.02, 1.02);
    }
    .active-info{
        transform: scale(1.02, 1.02);
    }
}

.name{
    font-size: 2rem;
    margin-bottom: 1rem;
}

.active-info{
    height: 500px;
    width: 350px;
    border-radius: 20px;
    background-color: #242424;
    // transform: translate(30px, 70px);
    transform-origin: bottom right;
    transform: scale(0.9, 0.9);
    transition: 0.25s ease-in;
}

.data{
    height: 100%;
    width: 100%;
    border-radius: 20px;
    background-color: #383838;
    padding:2rem;
}

.border-padding{
    padding-right: 3px;
    padding-bottom:3px ;
}

.topic{
    font-size: 1.5rem;
    text-align: right;
    background:linear-gradient(to bottom, #b3ffab 0%, #12fff7 100%);;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.date,.time{
    font-size: 1rem;
    margin: 1rem;
}

@media only screen and (max-width: 400px) {
    .speaker-card{
        transform: scale(0.8);
        transform-origin: top left;
    }
}
@media screen and (max-width:430px) and (min-width:376px){
    .mb-big{
        text-align: center;
        font-size: 20px;
        margin-bottom: 10px;
    }
    .mb-big::after{
        content: "";
        height: 3px;
        width: 60px;
        background-color: #12fff7;
        display: inline-block;
        margin: 1px 10px;
        margin-bottom: 5px;
    }
    .mb-big::before{
        content: "";
        height: 3px;
        width: 60px;
        background-color: #12fff7;
        display: inline-block;
        margin: 1px 10px;
        margin-bottom: 5px;
    }
    .p-3 img{
        height: 200px;
        width: 200px;
        position: relative;
        top: 20px;
        left: 95px;
        
        border-radius: 50%;
        margin-bottom: 15px;
    }
    .p-3 img:hover{
      transform: scale(1.1);
      transition: 0.5s ease-in-out all;
     
    }
    .ml-big{
     position: relative;
       top:41px;
      
       left: -23px;
       width: 400px;
       height: 800px;
       margin:20px;
      
       
  overflow: hidden;
       font-size: 15px;
    background-color: #26c7c7;
        border-radius: 25px;
        padding: 20px;
        margin-bottom: 40px;
      
        
      
        
    }
    
}
@media screen and (max-width:320px) {
    .mb-big{
        text-align: center;
        font-size: 20px;
        margin-bottom: 20px;
    }
    .mb-big::after{
        content: "";
        height: 3px;
        width: 30px;
        background-color: #12fff7;
        display: inline-block;
        margin: 1px 10px;
        margin-bottom: 5px;
    }
    .mb-big::before{
        content: "";
        height: 3px;
        width: 30px;
        background-color: #12fff7;
        display: inline-block;
        margin: 1px 10px;
        margin-bottom: 5px;
    }
    .p-3 img{
        height: 200px;
        width: 200px;
        border-radius: 50%;
        margin-bottom: 15px;
    }
    .p-3 img:hover{
      transform: scale(1.1);
      transition: 0.5s ease-in-out all;
     
    }
  
    #loc{
        padding-bottom: 10px;
        border-bottom: 2px solid rgb(204, 204, 204);
         
     }
    .idi{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
}
@media screen and (max-width:375px) and (min-width:321px){
    .mb-big{
        text-align: center;
        font-size: 20px;
        margin-bottom: 10px;
        
    }
    .mb-big::after{
        content: "";
        height: 3px;
        width: 60px;
        background-color: #12fff7;
        display: inline-block;
        margin: 1px 10px;
        margin-bottom: 5px;
    }
    .mb-big::before{
        content: "";
        height: 3px;
        width: 60px;
        background-color: #12fff7;
        display: inline-block;
        margin: 1px 10px;
        margin-bottom: 5px;
    }
    .p-3 img{
        height: 200px;
        width: 200px;
        position: relative;
        top: 20px;
        left: 95px;
        
        border-radius: 50%;
        margin-bottom: 15px;
    }
    .p-3 img:hover{
      transform: scale(1.1);
      transition: 0.5s ease-in-out all;
     
    }
    .ml-big{
     position: relative;
       top:41px;
      
       left: -28px;
       width: 350px;
       height: 800px;
       margin:20px;
      
       

       font-size: 15px;
    background-color: #26c7c7;
        border-radius: 25px;
        padding: 20px;
        margin-bottom: 40px;
      
        
      
        
    }
    
}
.idi{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#loc{
   padding-bottom: 10px;
    border-bottom: 2px solid rgb(204, 204, 204);
    
}