<div class="footer">
  <div class="row">
    <div class="col-md-3" style="flex-direction: row; box-sizing: border-box; display: flex;">
      <div fxlayout="column" fxlayoutalign="center center" class="footer-logo">
        <img src="assets/images/logoGrad.png" height="125" width="125" class="md-2">
        <img src="assets/images/dtu.png" height="125" width="125">
      </div>
    </div>
    <div class="col-md-3">
      <div class="margin-section">
        <div class="font-thin">Address</div>
        <p>Delhi Technological University Shahbad Daulatpur, Main Bawana Road
          Delhi-110042. India </p>
      </div>
      <div class="margin-section">
        <div class="font-thin">Contact</div>
        <p> corporate@innovadtu.com innovadtu2021@gmail.com </p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="margin-section">
        <div class="nav-heading font-thin"> Navigate </div>
        <ul class="navlist" style="list-style-type: none;">
          <li>
            <a mat-button="" routerlink="/lectures"
              class="mat-focus-indicator nav-link ml-3 page-button mat-button mat-button-base" tabindex="0"
              aria-disabled="false" routerLink="/lectures"> <span class="mat-button-wrapper">Lectures</span>
              <span matripple="" class="mat-ripple mat-button-ripple"> </span>
              <span class="mat-button-focus-overlay"> </span>
            </a>
          </li>
          <li>
            <a mat-button="" routerlink="/competitions"
              class="mat-focus-indicator nav-link ml-3 page-button mat-button mat-button-base" tabindex="0"
              aria-disabled="false" routerLink="/competitions">
              <span class="mat-button-wrapper"> Competitions</span>
              <span matripple="" class="mat-ripple mat-button-ripple"></span>
              <span class="mat-button-focus-overlay"></span></a>
          </li>
          <li>
            <a mat-button="" routerlink="/workshops"
              class="mat-focus-indicator nav-link ml-3 page-button mat-button mat-button-base" tabindex="0"
              aria-disabled="false" routerLink="/workshops">
              <span class="mat-button-wrapper"> Workshops </span>
              <span matripple="" class="mat-ripple mat-button-ripple"></span>
              <span class="mat-button-focus-overlay"></span>
            </a>
          </li>
          <li>
            <a mat-button="" routerlink="/sponsors"
              class="mat-focus-indicator nav-link ml-3 page-button mat-button mat-button-base" tabindex="0"
              aria-disabled="false" routerLink="/sponsors">
              <span class="mat-button-wrapper"> Sponsors</span>
              <span matripple="" class="mat-ripple mat-button-ripple"></span>
              <span class="mat-button-focus-overlay"></span>
            </a>
          </li>
          <li>
            <a mat-button="" routerlink="/team"
              class="mat-focus-indicator nav-link ml-3 page-button mat-button mat-button-base" tabindex="0"
              aria-disabled="false" routerLink="/team">
              <span class="mat-button-wrapper">Team</span>
              <span matripple="" class="mat-ripple mat-button-ripple"></span>
              <span class="mat-button-focus-overlay"></span>
            </a>
          </li>
          <li>
            <a mat-button="" routerlink="/recruitment"
              class="mat-focus-indicator nav-link ml-3 page-button mat-button mat-button-base" tabindex="0"
              aria-disabled="false" routerLink="/recruitment">
              <span class="mat-button-wrapper">Recruitment
              </span>
              <span matripple="" class="mat-ripple mat-button-ripple"></span>
              <span class="mat-button-focus-overlay"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-3">
      <div class="margin-section">
        <div class="font-thin">Connect with us</div>
        <div class="social-box" >
        <div fxlayout="row wrap" class="social-box1" >
          <a mat-button="" target="__blank" href="https://www.facebook.com/innovadtu"
            class="mat-focus-indicator ml-3 nav-link social-button mat-button mat-button-base" tabindex="0"
            aria-disabled="false">
            <span class="mat-button-wrapper">
              <span class="fa fa-facebook fa-2x social-size"> </span>

            </span>
            <span matripple="" class="mat-ripple mat-button-ripple"></span>
            <span class="mat-button-focus-overlay"></span>
          </a>

          <a mat-button="" target="__blank" href="https://www.instagram.com/innovadtu/"
            class="mat-focus-indicator social-button ml-3  mat-button mat-button-base" tabindex="0"
            aria-disabled="false">
            <span class="mat-button-wrapper">
              <span class="fa fa-instagram fa-2x social-size"></span>
            </span>
            <span matripple="" class="mat-ripple mat-button-ripple"></span>
            <span class="mat-button-focus-overlay"></span>
          </a>
        </div>
        <div fxlayout="row wrap" class="social-box2" >
          <a mat-button="" target="__blank" href="https://www.linkedin.com/company/innova-dtu/"
            class="mat-focus-indicator ml-3 social-button mat-button mat-button-base" tabindex="0"
            aria-disabled="false">
            <span class="mat-button-wrapper">
              <span class="fa fa-linkedin fa-2x social-size"></span>
            </span>
            <span matripple="" class="mat-ripple mat-button-ripple"></span>
            <span class="mat-button-focus-overlay"></span>
          </a>
          <a mat-button="" target="__blank" href="https://youtube.com/channel/UCz52tpa7b4vV24SbgreRiuA"
            class="mat-focus-indicator ml-3 social-button mat-button mat-button-base" tabindex="0"
            aria-disabled="false">
            <span class="mat-button-wrapper"><span class="fa fa-youtube fa-2x social-size"></span>
            </span>
            <span matripple="" class="mat-ripple mat-button-ripple"></span>
            <span class="mat-button-focus-overlay"></span>
          </a>
        </div>
      </div>
      </div>
    </div>
  </div>
  <div style="text-align: center">
    <a  routerLink="/privacypolicy" style="color: rgba(255, 255, 255, 0.5); text-decoration: none "  >Privacy Policy</a>

  </div>
</div>
