// // @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
.footer {
  overflow: hidden!important;
   padding: 1rem 3rem;
  background-color: #000;
  color: #fff;
  border-image-slice: 1;
  border-width: 5px;
  border-top: 5px solid;
  border-image-source: linear-gradient(90deg,#b3ffab 0,#12fff7);
  margin: auto;
}
.footer-logo{
  flex: 1 1 0%;
  box-sizing: border-box;
   display: flex;
  //  flex-direction: column;
   place-content: center;
   align-items: center;
   justify-content: space-around;
}
.font-thin  {
  font-weight: 300!important;
  font-size: x-large;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.margin-section  {
  margin: 2rem 1rem;
}
.page-button , .social-button  {
  transition: .15s ease-in;
}
.social-button {
  margin: 1rem;
}
.page-button:hover, .social-button:hover {
  transform: scale(1.1)!important;
  background: linear-gradient(180deg,#b3ffab 0,#12fff7)!important;
  -webkit-background-clip: text!important;
 -webkit-text-fill-color: transparent;
  animation: colorChange 1s ease-in 0s infinite alternate!important;
}
.social-box1,.social-box2{
  flex-flow: row wrap;
   box-sizing: border-box;
  display: flex;
}
.nav-heading{
  padding: 0rem 0 0 3.5rem;
}
.navlist .mat-button{
  line-height: 27px!important;
}
@media only screen and (max-width:500px ) {
  .social-box1,.social-box2{
    flex-flow: nowrap;

  }
  .social-button{
    margin: 0;
  }
  .ml-3{
    margin-left: 0!important;
  }
  .social-box{
    display: flex;
      justify-content: center;
  }
  .navlist{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: space-between;

  }
  .nav-heading{
    padding: 0;
  //  text-align: center;
  }
  .margin-section  {
    margin:  1rem;
  }
  .footer-logo{
    margin: 1rem 0;
  }
}
