<!-- <p>footer works!</p>
<section fxLayout="row" fxLayoutAlign="end end" class="text-white font-medium pt-1 h-50 w-100 bg-grad footer"
    fxShow="true" fxHide.lt-md="true">
    <div class="w-100 h-100 p-1 bg-black" fxLayout="row" fxLayoutAlign="start center">
        <div class="h-75 border-right-white p-3" fxLayout="row" fxLayoutAlign="start center">
            <img src="assets/images/logowhite.png" class="h-100 m-3">
            <img src="assets/images/dtu.png" class="h-75 m-3">
        </div>

        <div class="h-75 p-3" fxLayout="column" fxLayoutAlign="space-around">
            <div>
                <h1>Connect With Us</h1>
                <div fxLayout="row" fxLayoutAlign="start center">
                    <a mat-button class="ml-3 nav-link" href="https://www.facebook.com/innovadtu">Facebook</a>
                    <a mat-button class="ml-3" href="https://www.instagram.com/innovadtu/">Instagram</a>
                    <a mat-button class="ml-3" href="https://www.linkedin.com/company/innova-dtu/">LinkedIn</a>
                    <a mat-button class="ml-3" href="https://youtube.com/channel/UCz52tpa7b4vV24SbgreRiuA">Youtube</a>
                </div>
            </div>
            <h1 class="m-3 hi">Contact Us</h1>
        </div>


    </div>
</section>


<section fxLayout="row" fxLayoutAlign="end end" class="text-white font-medium pt-1 bg-grad footer" fxShow="true"
    fxHide.gt-sm>
    <div class="w-100 h-100 p-1 bg-black" fxLayout="column" fxLayoutAlign="start center">
        <div class="h-75" fxLayout="row" fxLayoutAlign="center center">
            <img src="assets/images/logowhite.png" class="w-75 m-3">
             <img src="assets/images/dtu.png" class="w-50 m-3">
        </div>

        <div class="h-75" fxLayout="column" fxLayoutAlign="space-around">
            <div>
                <h1 class="m-3">Connect With Us</h1>
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                    <a mat-button class="ml-3 nav-link" href="https://www.facebook.com/innovadtu">Facebook</a>
                    <a mat-button class="ml-3" href="https://www.instagram.com/innovadtu/">Instagram</a>
                    <a mat-button class="ml-3" href="https://www.linkedin.com/company/innova-dtu/">LinkedIn</a>
                    <a mat-button class="ml-3" href="https://youtube.com/channel/UCz52tpa7b4vV24SbgreRiuA">Youtube</a>
                </div>
            </div>
            <h1 class="m-3 hi">Contact Us</h1>
        </div>


    </div>
</section> -->

<div class="footer">
  <div class="row">
    <div class="col-md-3" style="flex-direction: row; box-sizing: border-box; display: flex;">
      <div  fxlayout="column" fxlayoutalign="center center" class="footer-logo">
        <img  src="assets/images/logoGrad.png" height="125" width="125" class="md-2" >
        <img src="assets/images/dtu.png" height="125" width="125">
      </div>
    </div>
    <div class="col-md-3">
      <div class="margin-section">
        <div class="font-thin">Address</div>
        <p>Delhi Technological University Shahbad Daulatpur, Main Bawana Road
          Delhi-110042. India </p>
      </div>
      <div class="margin-section">
        <div class="font-thin">Contact</div>
        <p> innova.corporate1@gmail.com innovadtu2021@gmail.com </p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="margin-section">
        <div style=" padding: 0rem 0 0 3.5rem" class="font-thin">Links</div>
        <ul style="list-style-type: none;">
          <li>
            <a mat-button="" routerlink="/lectures"
              class="mat-focus-indicator nav-link ml-3 page-button mat-button mat-button-base" tabindex="0"
              aria-disabled="false" href="/lectures"><span class="mat-button-wrapper">Lectures</span>
              <span matripple="" class="mat-ripple mat-button-ripple"></span>
              <span class="mat-button-focus-overlay"></span>
            </a>
          </li>
          <li>
            <a mat-button="" routerlink="/competitions"
              class="mat-focus-indicator nav-link ml-3 page-button mat-button mat-button-base" tabindex="0"
              aria-disabled="false" href="/competitions">
              <span class="mat-button-wrapper"> Competitions</span>
              <span matripple="" class="mat-ripple mat-button-ripple"></span>
              <span class="mat-button-focus-overlay"></span></a>
          </li>
          <li>
            <a mat-button="" routerlink="/workshops"
              class="mat-focus-indicator nav-link ml-3 page-button mat-button mat-button-base" tabindex="0"
              aria-disabled="false" href="/workshops">
              <span class="mat-button-wrapper">
                Workshops</span>
              <span matripple="" class="mat-ripple mat-button-ripple"></span>
              <span class="mat-button-focus-overlay"></span>
            </a>
          </li>
          <li>
            <a mat-button="" routerlink="/sponsors"
              class="mat-focus-indicator nav-link ml-3 page-button mat-button mat-button-base" tabindex="0"
              aria-disabled="false" href="/sponsors">
              <span class="mat-button-wrapper">
                Sponsors</span>
              <span matripple="" class="mat-ripple mat-button-ripple"></span>
              <span class="mat-button-focus-overlay"></span>
            </a>
          </li>
          <li>
            <a mat-button="" routerlink="/team"
              class="mat-focus-indicator nav-link ml-3 page-button mat-button mat-button-base" tabindex="0"
              aria-disabled="false" href="/team">
              <span class="mat-button-wrapper">Team</span>
              <span matripple="" class="mat-ripple mat-button-ripple"></span>
              <span class="mat-button-focus-overlay"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-3">
      <div class="margin-section">
        <div class="font-thin">Connect with us</div>
        <div fxlayout="row wrap" style="flex-flow: row wrap; box-sizing: border-box; display: flex;">
          <a mat-button="" href="https://www.facebook.com/innovadtu"
            class="mat-focus-indicator ml-3 nav-link social-button mat-button mat-button-base" tabindex="0"
            aria-disabled="false"><span class="mat-button-wrapper"><span
                class="fa fa-facebook fa-2x social-size"></span></span><span matripple=""
              class="mat-ripple mat-button-ripple"></span><span class="mat-button-focus-overlay"></span></a><a
            mat-button="" href="https://www.instagram.com/innovadtu/"
            class="mat-focus-indicator ml-3 social-button mat-button mat-button-base" tabindex="0"
            aria-disabled="false"><span class="mat-button-wrapper"><span
                class="fa fa-instagram fa-2x social-size"></span></span><span matripple=""
              class="mat-ripple mat-button-ripple"></span><span class="mat-button-focus-overlay"></span></a>
        </div>
        <div fxlayout="row wrap" style="flex-flow: row wrap; box-sizing: border-box; display: flex;"><a mat-button=""
            href="https://www.linkedin.com/company/innova-dtu/"
            class="mat-focus-indicator ml-3 social-button mat-button mat-button-base" tabindex="0"
            aria-disabled="false"><span class="mat-button-wrapper"><span
                class="fa fa-linkedin fa-2x social-size"></span></span><span matripple=""
              class="mat-ripple mat-button-ripple"></span><span class="mat-button-focus-overlay"></span></a><a
            mat-button="" href="https://youtube.com/channel/UCz52tpa7b4vV24SbgreRiuA"
            class="mat-focus-indicator ml-3 social-button mat-button mat-button-base" tabindex="0"
            aria-disabled="false"><span class="mat-button-wrapper"><span
                class="fa fa-youtube fa-2x social-size"></span></span><span matripple=""
              class="mat-ripple mat-button-ripple"></span><span class="mat-button-focus-overlay"></span></a></div>
      </div>
    </div>
  </div>
</div>
